* {
  font-size: 1em;
  color: #fafafa;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 1px 1px #3e2723;
  text-decoration: none;
}
p{
  margin: 15px;
  text-align: justify;
  text-overflow: ellipsis;
}
.wrapper-menu {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}
.wrapper-menu.open {
  transform: rotate(-45deg);
}
.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}
.line-menu.half {
  width: 50%;
}
.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}
.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
  z-index: 99;
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}
.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
  z-index: 99;
}
#burger {
  z-index: 99;
  position: absolute;
  top: 28px;
  right: 53px;
  text-shadow: 1px 1px 1px #3e2723;
}
.current-page {
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 10px #3e2723;
  position: relative;
  padding: 40px;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 20px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.profile{
  object-fit: cover;
  width: 100%;
  height: 350%;
  box-shadow: 11px 11px 11px 11px #666;
}
.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html, body {
  background-color: #424242;
  margin: 1px;
}
.container>div:nth-child(n){
  background-color: #00796b;
  box-shadow: 1px 1px 1px 1px #3e2723;
}
.container>div:nth-child(2n){
  background-color: #448aff;
  box-shadow: 2px 2px 2px 1px #3e2723;
}
.container>div:nth-child(3n){
  background-color: #03a9f4;
  box-shadow: 2px 1px 1px 1px #3e2723;
}
.container>div:nth-child(4n){
  background-color: #00e676;
  box-shadow: 2px 2px 2px 1px #3e2723;
}
.container {
  display: grid;
  margin: 10px;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 275px;
  grid-auto-flow: dense;
}
.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-row: span 2;
  grid-column: span 2;
}
input[type=text], select, textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 16px;
    resize: vertical;
    margin: 10px;
}

input[type=submit] {
    background-color: #2196f3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

input[type=submit]:hover {
    background-color: #64ffda;
}
label{
  margin: 10px;
}
 a span {
  &::before,
  &::after {
    content: '';
    background: white;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 0;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  &:hover {
    color: #fff;
    &::before {
      width: 100%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    &::after {
      width: 100%;
      background: transparent;
      transition: 0;
    }
  }
}
